<div class="flag-wrapper">
  @if (correctCountry) {
    <img [src]="getFlagPath()" alt="flag" class="flag" />
  }
</div>

@if (answersLoaded) {
  <div class="answer-container">
    @for (answer of answers; track answer; let i = $index) {
      <button
        class="btn answer-btn"
        [ngClass]="{
          correct: answer.isSelected && answer.isCorrect,
          incorrect: answer.isSelected && !answer.isCorrect
        }"
        (click)="checkAnswer(i)"
      >
        {{ answer.country.name }}
      </button>
    }
  </div>
}

@if (alreadyAnswered()) {
  <div class="next-container">
    <button class="btn next-btn" (click)="next()">Next</button>
  </div>
}
