.flag-wrapper {
  height: 20em;
  margin-bottom: 5em;
}

.flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: auto;
  max-height: 100%;
}

.answer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
  justify-content: center;
  width: 80%;
  padding: 0 10%;
}

.btn {
  border: 0;
  background-color: cornflowerblue;
  color: white;
  border-radius: 2em;
  font-size: 3em;
  font-family: Inter, serif;
}

.next-container {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding: 0 20%;
}

.next-btn {
  min-width: 30%;
}

.correct {
  background-color: mediumseagreen;
}

.incorrect {
  background-color: orangered;
}
