.flag-wrapper {
  height: 20em;
}

.flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: auto;
  max-height: 100%;
}

.answer-container {
  width: 70%;
  padding: 10px;
  margin: 5em auto auto;
  display: grid;
  gap: 1em 1.5em;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.btn {
  border: 0;
  background-color: cornflowerblue;
  color: white;
  border-radius: 2em;
  width: 12em;
  height: 2em;
  font-size: 3em;
}

.next-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.correct {
  background-color: mediumseagreen;
}

.incorrect {
  background-color: orangered;
}
