<img *ngIf="correctCountry" [src]="getFlagPath()" alt="flag" class="flag">
<div class="answer-container">
  <button class="btn answer-btn" *ngFor="let answer of answers; let i = index"
          [ngClass]="{'correct': answer.isSelected && answer.isCorrect, 'incorrect': answer.isSelected && !answer.isCorrect}"
          (click)="checkAnswer(i)">{{ answer.country.name }}
  </button>
</div>
<div class="next-container" *ngIf="alreadyAnswered()">
  <button class="btn next-btn" (click)="next()">Next</button>
</div>
